<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Choose Case Category</title>
</head>
<body>
<h1>Select Case Category</h1>

<form  th:action="@{/selCategory}" method="post">

    <!-- Dropdown for selecting case type -->
    <label for="caseTypeSelect">Select a Category:</label>
    <select id="caseTypeSelect" name="caseType" required>
        <option value="" disabled selected>Select a category</option>
        <option value="1">Corporate Case</option>
        <option value="2">Matrimonial Case</option>
        <option value="3">Civil Case</option>
        <option value="4">Criminal Case</option>
    </select>

    <button type="submit">Submit</button>
</form>

</body>
</html>
